/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-19bisue4ts] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #55BCC9;
}
body[b-19bisue4ts] {
    background-color: #55BCC9 ;
}
